@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$poppin: 'Poppins', sans-serif;
$black: #000;
$white: #fff;
$white-50: #ffffff80;
$gray: #888888;
$purple: #7F81C7;
$purple_bg: #F8F9FF;
$pink: #EB4475;
$red: #FE7062;
